/* ************************************************************ */
/* Reset and variables */
/* ************************************************************ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: rgb(34, 34, 34);
  --comp: #808080;
  --accent: #a32d18;
  --anim-slow: 0.4s;
  --anim-fast: 0.2s;
}

/* ************************************************************ */
/* Global Structure */
/* ************************************************************ */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main);
}

main,
header,
footer {
  width: 100%;
}


/* ************************************************************ */
/* Grid main structure and cards */
/* ************************************************************ */

.grid-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-gap: 50px;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
  grid-auto-rows: auto;
}

.grid-item {
  position: relative;
  min-width: 400px;
  max-width: 500px;
  aspect-ratio: 5/3;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
}

.grid-bg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.grid-bg img {
  width: 100%;
  height: 100%;
  transform: scale(1);
  transition: all var(--anim-slow) ease;
}

.grid-content {
  height: 100%;
  position: relative;
  z-index: 5;
  opacity: 0;
  pointer-events: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: all var(--anim-slow) ease;
}

/* ************************************************************ */
/* Grid TOP bar */
/* ************************************************************ */

.grid-top {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  z-index: 5;
  /* backdrop-filter: blur(3px); */
  transform: translateY(-100%);
  transition: all var(--anim-slow) ease;
  display: grid;
  grid-template-columns: auto min-content;
  grid-template-rows: 1.2em auto;
  grid-gap: 10px;
  padding: 10px 15px;
}

.grid-top h1 {
  height: 1.2em;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: normal;
  font-size: 1.2em;
  text-align: left;
  flex: 2;
}

.grid-top summary {
  list-style: none;
}

.grid-top p {
  grid-column: 1 / -1;
  text-align: left;
  padding: 15px 0px; 
  opacity: 0;
  display: none;
  transition: all var(--anim-slow) ease;
  /* transform: translateY(-100%); */
}

.grid-item:has(.grid-top details[open]) .grid-top{
  flex: 2;
  background-color: rgba(0, 0, 0, 0.8);
}

.grid-item:has(.grid-top details[open]) .grid-top p{
  opacity: 1;
  display: block;
  /* transform: translateY(0%); */
}

.grid-item:has(.grid-top details[open]) .grid-bottom {
  background-color: rgba(0, 0, 0, 0.8);
}

/* ************************************************************ */
/* Grid BOTTOM bar */
/* ************************************************************ */

.grid-bottom {
  pointer-events: auto;
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  /* backdrop-filter: blur(3px); */
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  z-index: 5;
  align-items: center;
  padding: 10px 15px;
  transform: translateY(100%);
  transition: all var(--anim-slow) ease;
}

.grid-icon img {
  cursor: pointer;
  filter: opacity(0.5);
  height: 1.4em;
  width: auto;
  vertical-align: middle;
  transition: filter var(--anim-fast) ease;
}

.grid-bottom .grid-action {
  flex: 2;
  text-align: left;
}

.grid-bottom .grid-action a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border: solid rgba(255, 255, 255, 0.5) 2px;
  border-radius: 50px;
  padding: 2px 20px;
  transition: all var(--anim-fast) ease;
}

.grid-bottom .grid-action a::after {
  content: ">";
  position: absolute;
  opacity: 0;
  transform: translateX(-100%) rotate(0deg);
  transition: all var(--anim-fast) ease;
}


/* ************************************************************ */
/* Effects when hovering the card */
/* ************************************************************ */

.grid-item:hover .grid-bg img {
  transform: scale(1.1);
}

.grid-item:hover .grid-content {
  opacity: 1;
}

.grid-item:hover .grid-top {
  transform: translateY(0);
}

.grid-item:hover .grid-bottom {
  transform: translateY(0);
}

/* ************************************************************ */
/* Effects when hovering links (button or image) */
/* ************************************************************ */

.grid-action a:hover {
  opacity: 1;
  border-color: white;
  padding-right: 2em;
}

.grid-action a:hover:after {
  transform: translateX(100%) rotate(0deg);
  opacity: 1;
}

.grid-icon img:hover {
  transform: scale(1.1);
  filter: opacity(1);
}