/* ************************************************************ */
/* Reset and variables */
/* ************************************************************ */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --main: rgb(34, 34, 34);
  --comp: #808080;
  --accent: #a32d18;
  --anim-slow: 0.4s;
  --anim-fast: 0.2s;
}

/* ************************************************************ */
/* Global Structure */
/* ************************************************************ */

body {
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  text-align: center;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  background-color: var(--main);
}

main,
header,
footer {
  width: 100%;
}

.grid-container {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(100px, auto);
}

.grid-item {
  position: relative;
  min-width: 350px;
  aspect-ratio: 5/3;
  overflow: hidden;
  border-radius: 15px;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 1);
}

.grid-item::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/cards/coupal.png") center/cover no-repeat;
  transform: scale(1);
  transition: transform var(--anim-slow) ease,
    opacity var(--anim-slow) ease;
  z-index: 1;
  opacity: 1;
}

.grid-content {
  position: relative;
  z-index: 5;
  opacity: 0;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  transition: opacity var(--anim-slow) ease,
    background-color var(--anim-slow) ease;
  height: 100%;
}

.grid-top,
.grid-bottom {
  background-color: rgba(0, 0, 0, 0.6);
  color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10px;
  align-items: center;
  padding: 10px 15px;
  transition: transform var(--anim-slow) ease;
}

.grid-top {
  transform: translateY(-100%);
}

.grid-bottom {
  transform: translateY(100%);
}

.grid-summary {
  font-size: 1.1em;
  text-align: left;
  flex: 2;
}

.grid-icon a {
  /* border-radius: 50px;
padding: 5px;
border: solid white 2px; */
}

.grid-icon a img {
  filter: invert(100%) opacity(0.5);
  height: 1.4em;
  width: auto;
  vertical-align: middle;
  transition: filter var(--anim-fast) ease;
}

.grid-action {
  flex: 2;
  text-align: left;
}

.grid-action a {
  text-decoration: none;
  color: white;
  font-size: 1.3em;
  font-weight: bold;
  border: solid rgba(255, 255, 255, 0.5) 2px;
  border-radius: 50px;
  padding: 2px 20px;
  transition: all var(--anim-fast) ease;
}

.grid-action a::after {
  content: ">";
  position: absolute;
  opacity: 0;
  transform: translateX(-100%) rotate(0deg);
  transition: all var(--anim-fast) ease;
}


/* ************************************************************ */
/* Effects when hovering the card */
/* ************************************************************ */

.grid-item:hover::before {
  transform: scale(1.1);
  opacity: 1;
}

.grid-item:hover .grid-content {
  opacity: 1;
}

.grid-item:hover .grid-top {
  transform: translateY(0);
}

.grid-item:hover .grid-bottom {
  transform: translateY(0);
}

/* ************************************************************ */
/* Effects when hovering links (button or image) */
/* ************************************************************ */

.grid-action a:hover {
  opacity: 1;
  border-color: white;
  padding-right: 2em;
}

.grid-action a:hover:after {
  transform: translateX(100%) rotate(0deg);
  opacity: 1;
}

.grid-icon a img:hover {
  transform: scale(1.1);
  filter: invert(100%) opacity(1);
}